.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.actionBtn {
  width: 100%;
  max-width: 150px;
  margin: 10px;
  height: 7vh;
  background-color: transparent;
  border: 2px solid #00cc00;
  border-radius: 5px;
  outline: none;
  transition: all 0.5s;
}

.likeBtn {
  border-color: #ef8585;
}

.dislikeBtn {
  border-color: #8193ff;
}

@media (hover: hover) {
  .actionBtn:hover:not([disabled]) {
    background-color: #ffe7ff;
    transform: translateY(-0.5vh);
  }
}

.hoverEffect:not([disabled]) {
  background-color: #ffe7ff;
  transform: translateY(-0.5vh);
}
