@media (max-width: 2000px) {
  .picture {
    max-width: 18vw;
  }
}

@media (max-width: 1000px) {
  .picture {
    max-width: 30vw;
  }
}

@media (max-width: 800px) {
  .picture {
    max-width: 43vw;
  }
}

.pictureContainer {
  position: relative;
  transition: all 0.2s;
}

.deleteAnimation {
  animation-name: delete;
  animation-duration: 0.5s;
}

@keyframes delete {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.picture {
  margin: 0.2vw;
}

.pictureContainer:hover {
  transform: scale(1.05);
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  z-index: 100;
  line-height: 1vh;
  padding: 0.7vh;
  background-color: #ff79797d;
  font-size: 3vh;
  transition: 0.5s all;
  cursor: pointer;
}

.closeBtn:hover {
  transform: scale(1.1);
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  transition: all 2s;
}

.popoverContent {
  display: flex;
  justify-content: space-evenly;
}
